<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>
<p>Эта книга свободна. Кому назначить ее?</p>
<form th:method="POST" th:action="@{/books/{id}/assign(id=${book.getId()})}">
    <label for="person">Выберите человека: </label>
    <select th:name="personId" id="person">
        <option th:each="person : ${people}"
                th:value="${person.getId()}"
                th:text="${person.getName()}">
        </option>
    </select>
    <input type="submit" value="Назначить книгу">
</form>

</br>
<form th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Редактировать">
</form>
</br>

<form th:method="DELETE" th:action="@{/books/{id}/(id=${book.getId()})}">
    <input type="submit" value="Удалить">
</form>

</body>
</html>
